<tui-scrollbar waIntersectionRoot class="scrollbar full-width" [hidden]="true">
    <h1>Избранные элементы</h1>
    <div class="filters">
        <button iconStart="@tui.grid-2x2-plus" tuiButton tuiButtonVertical type="button" [tuiHint]="tableTooltip"
            (click)="showDialog(tableColumnEditor)">
        </button>
        <button iconStart="@tui.file-down" tuiButton type="button" (click)="onImportCsvEkb()">
            Экспорт в CSV
        </button>
    </div>
    <ng-container *ngIf="hasFilter">
        <div class="chip-container">
            <tui-chip appearance="primary">{{ converter.convertToString(customFilters) }}</tui-chip>
        </div>
    </ng-container>
    <div class="table-container">
        <div class="ekb-table">
            <tui-loader class="loader" [inheritColor]="true" [overlay]="true" [showLoader]="isLoading">
                <ng-container *ngIf="currentData$ | async as ekbItems">
                    <table tuiTable [size]="'m'">
                        <thead>
                            <tr>
                                <ng-container *ngFor="let column of shownProperties">
                                    <th tuiTh>{{column}}</th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody tuiTbody>
                            <tr *ngFor="let ekbItem of ekbItems">
                                <ng-container *ngFor="let column of shownProperties">
                                    <ng-container *ngIf="column != 'Файл'">
                                        <td tuiTd>{{ekbItem.data[column]}}</td>
                                    </ng-container>
                                    <ng-container *ngIf="column == 'Файл'">
                                        <td tuiTd>
                                            <span tuiStatus>
                                                <button appearance="action" iconStart="@tui.download" size="xs"
                                                    tuiIconButton type="button" (click)="loadFile(ekbItem[column])">
                                                    Загрузить файл
                                                </button>
                                            </span>
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </tui-loader>
        </div>
    </div>
</tui-scrollbar>
<ng-template #template>
    <tui-icon icon="@tui.star" class="tui-space_right-3" />
    Star Wars
</ng-template>
<ng-template #filterTooltip>
    <div>Задать фильтрацию для текущей таблицы</div>
</ng-template>
<ng-template #tableTooltip>
    <div>Изменить колонки таблицы</div>
</ng-template>
<ng-template #tableColumnEditor let-observer>
    <div style="padding: 30px;">
        <app-table-column-editor (onShownColumns)="onColumnChanged($event)"
            [availableColumns]="shownProperties"></app-table-column-editor>
    </div>
</ng-template>