<h1>Жанры</h1>
<div class="filters">
    <tui-textfield iconStart="@tui.search">
        <input placeholder="Поиск по названию" tuiTextfield [(ngModel)]="filterNameVal"
            (ngModelChange)="onFilterNameChange($event)" />
    </tui-textfield>
    <tui-select [(ngModel)]="columnForSort" (ngModelChange)="onSortColumnChange($event)">
        Сортировать по
        <tui-data-list-wrapper *tuiDataList [items]="columnsType" />
    </tui-select>
    <button iconStart="@tui.plus" tuiButton type="button" (click)="onAddParameter()">
        Добавить жанр
    </button>
</div>
<tui-loader class="loader" [inheritColor]="true" [overlay]="true" [showLoader]="isLoading">
    <ng-container *ngIf="currentData$ | async as manufacturersResponse">
        <table tuiTable [size]="'m'">
            <thead>
                <tr>
                    <th tuiTh [style.width]="'10%'">ID</th>
                    <th tuiTh>Название</th>
                </tr>
            </thead>
            <tbody tuiTbody>
                <tr *ngFor="let item of manufacturersResponse.items">
                    <td tuiTd>
                        <div [tuiCell]="'s'">
                            <span tuiTitle>
                                {{ item.id }}
                            </span>
                        </div>
                    </td>
                    <td tuiTd>
                        <div [tuiCell]="'s'">
                            <span tuiTitle>
                                <span tuiStatus>
                                    {{ item.name }}
                                </span>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</tui-loader>
<div class="paging-container">
    <tui-pagination [index]="index" [length]="length" (indexChange)="goToPage($event)" />
    <tui-select [(ngModel)]="item_per_page" (ngModelChange)="onPageAmountChanged()">
        Число элементов на странице
        <tui-data-list-wrapper *tuiDataList [items]="ITEMS_PER_PAGE_LIST" />
    </tui-select>
</div>