<ng-container *ngIf="id">
    <tui-textfield iconEnd="@tui.id-card">
        <label tuiLabel>ID справочника</label>
        <input disabled="true" tuiTextfield [(ngModel)]="id" />
    </tui-textfield>
</ng-container>
<tui-textfield iconEnd="@tui.letter-text">
    <label tuiLabel>Название справочника</label>
    <input tuiTextfield [(ngModel)]="name" />
</tui-textfield>
<tui-textfield iconEnd="@tui.letter-text">
    <label tuiLabel>Описание справочника</label>
    <input tuiTextfield [(ngModel)]="description" />
</tui-textfield>
<div class="button-container">
    <button size="m" tuiButton type="button" (click)="submit()">
        Сохранить
    </button>
</div>