<div class="auth-container">
    <div class="auth-block">
        <div class="auth-content-block">
            <h2 class="auth-header">Смена пароля</h2>
            <tui-textfield iconEnd="@tui.mail" class="email-input">
                <label tuiLabel>Почта</label>
                <input tuiTextfield [(ngModel)]="email" />
            </tui-textfield>
            <tui-textfield class="password-input">
                <label tuiLabel>Старый пароль</label>
                <input tuiTextfield [(ngModel)]="oldPassword" />
                <tui-icon tuiPassword />
            </tui-textfield>
            <tui-textfield class="password-input">
                <label tuiLabel>Новый пароль</label>
                <input tuiTextfield [(ngModel)]="newPassword" />
                <tui-icon tuiPassword />
            </tui-textfield>
            <tui-error [error]="error" />
            <button class="enter-button" appearance="secondary" iconStart="@tui.log-in" tuiButton type="button" (click)="onChangePassword()" [disabled]="isChangePasswordProcess">
                Поменять пароль
            </button>
            <button class="enter-button" appearance="secondary" iconStart="@tui.id-card" tuiButton type="button" routerLink="/auth">
                На страницу авторизации
            </button>
        </div>
    </div>
</div>