<h1>Главная страница</h1>
<img src="book.png"/>
<h2>Школьная библиотека – мир знаний и вдохновения!</h2>

<p>Добро пожаловать в уютное пространство, где каждая книга – это дверь в новое приключение, а каждый стеллаж хранит
    мудрость веков. Наша библиотека – это не просто место с книгами, а настоящий центр творчества, учёбы и открытий.</p>

<p>
    📚 Богатый выбор литературы – от классики до современных бестселлеров, от учебных пособий до захватывающих романов.
</p>
<p>💡 Тишина и комфорт – удобные места для чтения и работы, где легко сосредоточиться.</p>
<p>🎨 Творческие мероприятия – литературные вечера, викторины, встречи с интересными людьми.</p>
<p>🌐 Доступ к цифровым ресурсам – электронные книги, научные статьи и полезные онлайн-материалы.</p>

<p>Приходите за книгой – оставайтесь за новыми идеями! 📖✨</p>

<p>Школьная библиотека – твой проводник в мире знаний!</p>